.div-main-login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../../images/montanha.jpg") center no-repeat;
  background-size: cover;
}
.div-card-login {
  width: 450px;
  height: 550px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.div-icon-login {
  width: 100%;
  color: #aaaaaa;
  font-size: 18px;
}
.div-icon-login:hover {
  color: #858585;
}
.h3-login {
  font-family: Bebas;
  margin: 0;
  font-size: 18px;
  margin-top: 40px;
}
.h2-login {
  font-family: Bebas;
  margin: 0;
  font-size: 30px;
  margin-top: 80px;
  color: #aaaaaa;
}
.h1-login {
  font-family: Bebas;
  margin: 0;
  font-size: 40px;
  margin-bottom: 50px;
}
.input-login {
  width: 270px;
  margin-bottom: 20px;
  height: 40px;
  border: none !important;
  border-bottom: 1px solid rgb(197, 197, 197) !important;
  font-size: 16px;
  outline: none !important;
  padding: 0 5px;
  font-size: 17px;
}
.ant-input-prefix {
  display: flex;
  align-items: center;
  color: rgb(197, 197, 197);
  margin-right: 7px;
}
.ant-input-suffix {
  display: flex;
  align-items: center;
  color: rgb(197, 197, 197);
}
.ant-input-affix-wrapper:focus {
  outline: none !important;
}
.ant-input-affix-wrapper-focused {
  outline: none !important;
}
.button-login {
  background-color: #1e90ff;
  color: white;
  width: 90px;
  height: 35px;
  border: none;
  margin-top: 20px;
  border-radius: 7px;
  font-size: 16px;
  outline: none;
}
.button-login:active {
  background-color: #2077ce;
}
.input-login::placeholder {
  color: rgb(163, 163, 163);
}
